body {
    background-color: rgb(109, 197, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #ffffff;
    animation: pulse 2s infinite;
    border: 2px solid #333;
    padding: 10;
    background-image: url(/one/img/thunderstorm-gce56ead40_640.jpg);
    background-size: cover;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.2);
    /*background-image: linear-gradient(to right, #ff0000, #00ff00);
    Se quiser colocar uma cor no background da logo.
    */
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
}

@keyframes smoke {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.logo:hover {
    color: red;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}